[Unit]
Description=fwcloud-updater

[Service]
ExecStart=/usr/bin/npm start
ExecStop=/usr/bin/npm run stop
WorkingDirectory=/opt/fwcloud-updater/
SyslogIdentifier=fwcloud-updater
User=fwcloud
Group=fwcloud
Type=forking

[Install]
WantedBy=multi-user.target